<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Container Image</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all" %>
</head>
<body>
  <div class="index-page-container">
    <div class="back-button">
      <%= link_to run_time_object_path(@run_time_object), class: "index-page-button" do %>
      <i class="fas fa-arrow-left"></i> Go Back
      <% end %>
    </div>
    <p class="heading">Edit Container Image</p>
    <%= form_with model: @run_time_object, url: run_time_object_path(@run_time_object), method: :patch, local: true do |form| %>
      <div class="form-container">
        <div class="form-group">
          <%= form.label :name, "Name:", class: "form-label" %>
          <%= @run_time_object.name %>
        </div>
        <div class="form-group">
          <%= form.label :description, "Description", class: "form-label" %>
          <%= form.text_area :description, class: "form-control-description", placeholder: "Value" %>
        </div>
        <div class="actions">
          <%= form.submit "Update", class: "index-page-button" %>
        </div>
    <% end %>
    </div>
  </div>

<% if @run_time_object.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@run_time_object.errors.count, "error") %> prohibited this image from being saved:</h2>
    <ul>
      <% @run_time_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
</body>
</html>