<body>
    <div class="image-page">
        <p class="heading">Containers</p>
        <%= link_to "New Container", new_run_time_object_path, class: "btn-create" %>
        <div class="image-list">
            <% if @run_time_objects.present? %>
                <% @run_time_objects.each do |object| %>
                    <div class="image-tile">
                        <div class="image-content">
                            <p>
                                <%= link_to object.name, run_time_object_images_path(run_time_object_id: object.id) %>
                                <% if @current_user.admin %>
                                    <% if @current_user == object.user %>
                                        (Created By: You)
                                    <%else%>
                                        (Created By: <%= "#{object.user.first_name} #{object.user.last_name}" %>)
                                    <%end%>
                                <%end %>
                                <% if object.user_id.present? && object.user_id != @current_user.id  && !@current_user.admin%>
                                    (Shared By: <%= "#{object.user.first_name} #{object.user.last_name}" %>)
                                <% end %>
                            </p>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <p>No runtime objects found for this user.</p>
            <% end %>
        </div>
    </div>
    <div class="pagy-create-image">
        <% if @pagy.pages > 1 %>
            <div class="pagy-nav">
                <%== pagy_nav(@pagy) %>
            </div>
        <% end %>
    </div>
</body>
