<style>
.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap; 
    z-index: 1;
    width: 100px; 
    word-wrap: break-word;  
    white-space: normal;  
    overflow: hidden;  
}


.btn-create {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, opacity 0.3s;
}

.btn-create:hover {
    background-color: #d3d3d3; 
    opacity: 0.85; 
}
</style>

<body>
    <div class="index-page-container">
        <p class="heading">My Containers</p>
        <div class="create-button-container">
					<div class="tooltip-container">
					<%= link_to new_run_time_object_path, class: "index-page-button" do %>
					<i class="fas fa-plus-circle"></i>
					Create New Container
					<% end %>
					<span class="tooltip-text">Create a new container image</span>
					</div>
      </div>
        <div class="image-list">
            <% if @run_time_objects.present? %>
                <% @run_time_objects.each do |object| %>
                    <div class="image-tile">
                        <div class="image-content">
                            <p>
                                <%= link_to object.name, run_time_object_images_path(run_time_object_id: object.id) %>
                                <% if @current_user.admin %>
                                    <% if @current_user == object.user %>
                                        (Created By: You)
                                    <%else%>
                                        (Created By: <%= "#{object.user.first_name} #{object.user.last_name}" %>)
                                    <%end%>
                                <%end %>
                                <% if object.user_id.present? && object.user_id != @current_user.id  && !@current_user.admin%>
                                    (Shared By: <%= "#{object.user.first_name} #{object.user.last_name}" %>)
                                <% end %>
                            </p>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <p>No runtime objects found for this user.</p>
            <% end %>
        </div>
    </div>
    <div class="pagy-create-image">
        <% if @pagy.pages > 1 %>
            <div class="pagy-nav">
                <%== pagy_nav(@pagy) %>
            </div>
        <% end %>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {  
    const tooltipContainers = document.querySelectorAll('.tooltip-container');
    
    tooltipContainers.forEach(container => {
        let hoverTimeout;
        let tooltip = container.querySelector('.tooltip-text');

        container.addEventListener('mouseenter', () => {
            clearTimeout(hoverTimeout);
            hoverTimeout = setTimeout(() => {
                tooltip.style.visibility = 'visible';
                tooltip.style.opacity = '0.85';
            }, 1000);  
        });

        container.addEventListener('mouseleave', () => {
            clearTimeout(hoverTimeout);
            tooltip.style.visibility = 'hidden';
            tooltip.style.opacity = '0';
        });
    });
});


    </script>
</body>
