<div class="back-button">
    <%= link_to run_time_object_images_path(@run_time_object), class: "index-page-button" do %>
    <i class="fas fa-arrow-left"></i>
    Go Back
    <% end %>
</div>
<div style="text-align: center;">

  <h1>Share Permissions for <%= @run_time_object.name %></h1>


  <%= form_with url: share_with_users_run_time_object_path(@run_time_object), method: :post do |f| %>

    <div style="display: flex; justify-content: center">
      <table style="width: 60%; border-collapse: collapse;">
        <thead>
        <tr>
          <th style="border: 1px solid #ddd; padding: 8px;">User</th>
          <th style="border: 1px solid #ddd; padding: 8px; text-align: center;">View Permission</th>
          <th style="border: 1px solid #ddd; padding: 8px; text-align: center;">Edit Permission</th>
          <th style="border: 1px solid #ddd; padding: 8px; text-align: center;"></th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <% if user.id != @run_time_object.user_id && user.first_name.present? && user.last_name.present? %>
            <tr>
              <td style="border: 1px solid #ddd; padding: 8px;">
                <%= "#{user.first_name} #{user.last_name}" %>
              </td>
              <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">
                <%= radio_button_tag "permissions[#{user.id}]", "view", @view_permitted_user_ids.include?(user.id), id: "view_permission_#{user.id}" %>
                <%= label_tag "view_permission_#{user.id}", "" %>
              </td>
              <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">
                <%= radio_button_tag "permissions[#{user.id}]", "edit", @edit_permitted_user_ids.include?(user.id), id: "edit_permission_#{user.id}" %>
                <%= label_tag "edit_permission_#{user.id}", "" %>
              </td>
              <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">
                <%= link_to "Remove Access", "#", class: "remove-access", data: { user_id: user.id } %>
              </td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
    
    <br>
    <%= submit_tag 'Share', class: 'index-page-button' %>
  <% end %>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const removeLinks = document.querySelectorAll('.remove-access');

        removeLinks.forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                const userId = this.dataset.userId;
                document.querySelector(`#view_permission_${userId}`).checked = false;
                document.querySelector(`#edit_permission_${userId}`).checked = false;
            });
        });
    });
</script>


<style>
  .btn {
    margin: 5px;
  }
</style>


