
<div class="index-page-container">
    <div class="back-button">
      <%= link_to run_time_object_image_path(@run_time_object,@image), class: "index-page-button" do %>
      <i class="fas fa-arrow-left"></i> Go Back
      <% end %>
    </div>
    <p class="heading">Edit Tag</p>
    <%= form_with(model: @image, url: run_time_object_image_path(@run_time_object.id, @image.id), local: true) do |form| %>
      <div class="form-container">
        <div class="form-group">
          <%= form.label :tag, "Tag URL", class: "form-label" %>
          <%= form.text_field :tag, class: "form-control", placeholder: "Enter Tag URL", required: true %>
        </div>
        <div class="actions">
          <%= form.submit "Update", class: "index-page-button" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
