<h1>Edit Image</h1>

<%= form_with(model: @image, url: run_time_object_image_path(@run_time_object.id, @image.id), local: true) do |form| %>
  <div class="form-group">
    <%= form.label :tag, "Tag URL", class: "form-label" %>
    <%= form.text_field :tag, class: "form-control", placeholder: "Enter Tag URL", required: true %>
  </div>
  <div class="actions">
    <%= form.submit "Update Image", style: "background-color: transparent; color: black; padding: 10px 20px; border-radius: 5px; text-decoration: none;margin-right: 10px;border: 1px solid black;" %>
    <%= link_to "Back", run_time_object_images_path(@run_time_object.id), style: "display: inline-block; background-color: transparent; color: black; padding: 10px 20px; border: 1px solid black; border-radius: 5px; text-decoration: none;" %>
  </div>
<% end %>


