<body>
    <div class="index-page-container">
      <div class="back-button">
        <%= link_to run_time_objects_path, class: "index-page-button" do %>
          <i class="fas fa-arrow-left"></i> Go Back
        <% end %>
      </div>
      <div class="index-title-container">
        <p class="heading"><%= "#{@run_time_object.name}" %></p>
        <div class="button-container">
          <% if @run_time_object.user_id == @current_user.id %>
            <%= link_to share_run_time_object_path(@run_time_object), 
                        data: { turbo_frame: "share_frame", bs_toggle: "modal", bs_target: "#shareModal" }, class: "index-page-button", aria: { label: 'Access' } do %>
              <i class="fas fa-share-alt"></i> <!-- Font Awesome icon -->
              Share
            <% end %>
          <% end %>
          <%= link_to edit_run_time_object_path(@run_time_object), 
                      class: 'index-page-button edit-button' do %>
            <i class="fas fa-edit"></i> <!-- Font Awesome icon -->
            Edit
          <% end %>
          <%= link_to run_time_object_path(@run_time_object), 
                      method: :delete, 
                      data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this runtime object?' }, 
                      class: 'index-page-button delete-button' do %>
            <i class="fas fa-trash-alt"></i> <!-- Font Awesome icon -->
            Delete
          <% end %>
        </div>
      </div>
      <p> <%= "#{@run_time_object.description}" %> </p>
      <div class="create-button-container">
        <%= link_to new_run_time_object_image_path, class: "index-page-button" do %>
          <i class="fas fa-plus-circle"></i>
           Create New Tag
        <% end %>
      </div>
      
      <div class="image-list">
          <% if @images.present? %>
              <% @images.each do |image| %>
                  <div class="image-tile">
                      <div class="image-content">
                          <p>
                              <% if image.tag.present? %>
                                  <span class='letter-class'> <%= image.tag[0].upcase %></span>
                              <% end %>
                              <%= link_to image.tag, run_time_object_image_path(@run_time_object.id, image.id) %>
                          </p>
                      </div>
                  </div>
              <% end %>
          <% else %>
              <p>No tags found for this Container Image</p>
          <% end %>
      </div>
    
      <div class="pagy-create-image">
          <% if @pagy.pages > 1 %>
              <div class="pagy-nav">
                  <%== pagy_nav(@pagy) %>
              </div>
          <% end %>
      </div>
    </div>
</body>
