<body>
    <div class="image-page">
        <p class="heading"><%= "#{@run_time_object.name} Tags" %></p>
        <div class="button-container">
          <%= link_to "New Tag", new_run_time_object_image_path, class: "btn-create" %>
          <%= link_to "Go Back", run_time_objects_path, class: "btn-create" %>
          <%= link_to 'Access', share_run_time_object_path(), data: { turbo_frame: "share_frame" }, class: 'btn-create', data: { bs_toggle: "modal", bs_target: "#shareModal" } %>
        </div>
        <div class="image-list">
            <% if @images.present? %>
                <% @images.each do |image| %>
                    <div class="image-tile">
                        <div class="image-content">
                            <p>
                                <% if image.tag.present? %>
                                    <span class='letter-class'> <%= image.tag[0].upcase %></span>
                                <% end %>
                                <%= link_to image.tag, run_time_object_image_path(@run_time_object.id, image.id) %>
                            </p>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <p>No tags found for this Container Image</p>
            <% end %>
        </div>
    </div>
    <div class="pagy-create-image">
        <% if @pagy.pages > 1 %>
            <div class="pagy-nav">
                <%== pagy_nav(@pagy) %>
            </div>
        <% end %>
    </div>
</body>
