<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Page</title>
    <style>
        .tooltip-container {
            position: relative;
            display: inline-block;
            margin: 0 0.5rem;
        }

        .tooltip-text {
            visibility: hidden;
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 0.5rem;
            border-radius: 0.4rem;
            position: absolute;
            bottom: 120%;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: opacity 0.3s;
            white-space: nowrap;
            z-index: 1;
            width: 10rem; 
            word-wrap: break-word;  
            white-space: normal;  
            overflow: hidden;  
        }

       

        
    </style>
</head>
<body>
    <div class="index-page-container">
        
        <div class="back-button">
            <div class="tooltip-container">
                <%= link_to run_time_objects_path, class: "index-page-button" do %>
                    <i class="fas fa-arrow-left"></i> Go Back
                <% end %>
            <span class="tooltip-text">Go back to the container image list page</span>
            </div>
        
        </div>
      <div class="index-title-container">
        <p class="heading"><%= "#{@run_time_object.name}" %></p>
        <div class="button-container">
					<div class="tooltip-container">
                        <div class="index-page-button">
						<% if @run_time_object.user_id == @current_user.id || @current_user.admin %>
							<%= link_to share_run_time_object_path(@run_time_object), 
													data: { turbo_frame: "share_frame", bs_toggle: "modal", bs_target: "#shareModal" }, aria: { label: 'Access' } do %>
								<i class="fas fa-share-alt"></i> <!-- Font Awesome icon -->
								Share
							<% end %>
						<% end %>
						<span class="tooltip-text">Grant or revoke access for this particular container image to different users</span>
                        </div>
					</div>
					<div class="tooltip-container">
                        <div class="index-page-button">
						<% if @current_user.admin? ||@run_time_object.user_id == @current_user.id || @run_time_object.run_time_objects_permissions.exists?(user_id: @current_user.id, permission: 'e') %>
							<%= link_to edit_run_time_object_path(@run_time_object) do %>
								<i class="fas fa-edit"></i> <!-- Font Awesome icon -->
								Edit
							<% end %>
						<% end %>
						<span class="tooltip-text">Edit the description for this container image</span>
                        </div>
					</div>
					<div class="tooltip-container">
						<% if @current_user.admin? || @run_time_object.user_id == @current_user.id %>
							<%= button_to run_time_object_path(@run_time_object), 
													method: :delete, 
													data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this runtime object?' }, class: 'index-page-button ' do %>
								<i class="fas fa-trash-alt"></i> <!-- Font Awesome icon -->
								Delete
							<% end %>
						<% end %>
						<span class="tooltip-text">Delete this container image and all the tags associated with it.</span>
                        </div>
        </div>
      </div>
      <p> <%= "#{@run_time_object.description}" %> </p>
			
				<div class="create-button-container">
                    <div class="tooltip-container">
					<% if @current_user.admin? || @run_time_object.user_id == @current_user.id || @run_time_object.run_time_objects_permissions.exists?(user_id: @current_user.id, permission: 'e') %>
						<%= link_to new_run_time_object_image_path, class: "index-page-button" do %>
							<i class="fas fa-plus-circle"></i>
							Create New Tag
						<% end %>
					<%end%>
				<span class="tooltip-text">Create a new tag for this container image</span>
				</div>
			</div>
      
      <div class="image-list">
          <% if @images.present? %>
              <% @images.each do |image| %>
                  <div class="image-tile">
                      <div class="image-content">
                          <p>
                              <% if image.tag.present? %>
                                  <span class='letter-class'> <%= image.tag[0].upcase %></span>
                              <% end %>
                              <%= link_to image.tag, run_time_object_image_path(@run_time_object.id, image.id) %>
                          </p>
                      </div>
                  </div>
              <% end %>
          <% else %>
              <p>No tags found for this Container Image</p>
          <% end %>
      </div>
    
      <div class="pagy-create-image">
          <% if @pagy.pages > 1 %>
              <div class="pagy-nav">
                  <%== pagy_nav(@pagy) %>
              </div>
          <% end %>
      </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {  
        const tooltipContainers = document.querySelectorAll('.tooltip-container');
        
        tooltipContainers.forEach(container => {
            let hoverTimeout;
            let tooltip = container.querySelector('.tooltip-text');

            container.addEventListener('mouseenter', () => {
                clearTimeout(hoverTimeout);
                hoverTimeout = setTimeout(() => {
                    tooltip.style.visibility = 'visible';
                    tooltip.style.opacity = '0.85';
                }, 1000); 
            });

            container.addEventListener('mouseleave', () => {
                clearTimeout(hoverTimeout);
                tooltip.style.visibility = 'hidden';
                tooltip.style.opacity = '0';
                });
            });
        });

	</script>

</body>
</html>
