<body>
    <div class="image-page">
        <p class="heading"><%= "#{@run_time_object.name} Tags" %></p>
      <div class="button-container">
        <%= link_to "Go Back", run_time_objects_path, class: "btn-create btn-back" %>
        <%= link_to 'Access', share_run_time_object_path(@run_time_object),
                    data: { turbo_frame: "share_frame", bs_toggle: "modal", bs_target: "#shareModal" },
                    class: 'btn-create' %>
        <%= link_to 'Edit', edit_run_time_object_path(@run_time_object), class: 'btn-create btn-edit' %>
        <%= link_to 'Delete', run_time_object_path(@run_time_object),
                    method: :delete,
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: 'Are you sure you want to delete this runtime object?'
                    },
                    class: 'btn-create btn-delete' %>
        <%= link_to "New Tag", new_run_time_object_image_path, class: "btn-create" %>
      </div>
        <div class="image-list">
            <% if @images.present? %>
                <% @images.each do |image| %>
                    <div class="image-tile">
                        <div class="image-content">
                            <p>
                                <% if image.tag.present? %>
                                    <span class='letter-class'> <%= image.tag[0].upcase %></span>
                                <% end %>
                                <%= link_to image.tag, run_time_object_image_path(@run_time_object.id, image.id) %>
                            </p>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <p>No tags found for this Container Image</p>
            <% end %>
        </div>
    </div>
    <div class="pagy-create-image">
        <% if @pagy.pages > 1 %>
            <div class="pagy-nav">
                <%== pagy_nav(@pagy) %>
            </div>
        <% end %>
    </div>
</body>
