<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Ussf Csce606" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<header>
  <%= image_tag 'ussf_logo.png', alt: 'Logo', id: 'logo', class: 'ussf-logo' %>
  <div class="profile-class">
    <% unless controller_name == 'welcome' %>
      <%= render 'shared/profile_account' %>
    <% end %>
  </div>
</header>

<%= render partial: 'shared/display_flash' if not flash.empty? %>

<div class="body-controller">
  <%= yield %>
</div>
</body>
</html>
